---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
<div class="wordwrap">
  <a href="{{ site.author.googlescholar }}">Google Scholar</a>
</div>
{% endif %}

## Journal Papers

> First-author Publications

{% assign first_author_pubs = site.publications | where: "pub_group", "first_author" | sort: "date" | reverse %}
{% for post in first_author_pubs %}
[{{ forloop.rindex }}] **{{ post.title }}**  
{{ post.authors }}  
{{ post.venue_text }}
{% if post.paperurl %}[Link]({{ post.paperurl }}){% endif %}

{% endfor %}

> Co-author Publications

{% assign co_author_pubs = site.publications | where: "pub_group", "co_author" | sort: "date" | reverse %}
{% for post in co_author_pubs %}
[{{ forloop.rindex }}] **{{ post.title }}**  
{{ post.authors }}  
{{ post.venue_text }}
{% if post.paperurl %}[Link]({{ post.paperurl }}){% endif %}

{% endfor %}

## Patents

{% assign patents = site.publications | where: "pub_group", "patent" | sort: "date" | reverse %}
{% for post in patents %}
[{{ forloop.rindex }}] **{{ post.title }}**  
{{ post.authors }}  
{{ post.venue_text }}
{% if post.paperurl and post.paperurl != "" %}[Link]({{ post.paperurl }}){% endif %}

{% endfor %}