---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

<h2>Journal papers</h2>
<hr />

<h3>First-author publications</h3>
{% assign title_shown = false %}
{% for post in site.publications %}
  {% if post.pub_group != "first_author" %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h3>Co-author publications</h3>
{% for post in site.publications %}
  {% if post.pub_group != "co_author" %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h2>Patents</h2>
<hr />
{% for post in site.publications %}
  {% if post.pub_group != "patent" %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}