---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap" style="margin-bottom: 1.2em;">
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

<h1>Journal papers</h1>
<hr />

<h2>First-author publications</h2>
{% assign first_author_pubs = site.publications | where: "pub_group", "first_author" | sort: "date" | reverse %}
{% for post in first_author_pubs %}
  <div class="list__item">
    <article class="archive__item">
      <p style="margin-bottom: 0.8em;">
        <strong>[{{ forloop.index }}] {{ post.title }}</strong><br>
        {{ post.authors }}<br>
        {{ post.venue_text }}<br>
        {% if post.paperurl and post.paperurl != "" or post.pdf and post.pdf != "" %}
          <span>
            {% if post.paperurl and post.paperurl != "" %}
              [<a href="{{ post.paperurl }}">Link</a>]
            {% endif %}
            {% if post.paperurl and post.paperurl != "" and post.pdf and post.pdf != "" %}
              |
            {% endif %}
            {% if post.pdf and post.pdf != "" %}
              [<a href="{{ post.pdf }}">PDF</a>]
            {% endif %}
          </span>
        {% endif %}
      </p>
    </article>
  </div>
{% endfor %}

<h2>Co-author publications</h2>
{% assign co_author_pubs = site.publications | where: "pub_group", "co_author" | sort: "date" | reverse %}
{% for post in co_author_pubs %}
  <div class="list__item">
    <article class="archive__item">
      <p style="margin-bottom: 0.8em;">
        <strong>[{{ forloop.index }}] {{ post.title }}</strong><br>
        {{ post.authors }}<br>
        {{ post.venue_text }}<br>
        {% if post.paperurl and post.paperurl != "" or post.pdf and post.pdf != "" %}
          <span>
            {% if post.paperurl and post.paperurl != "" %}
              [<a href="{{ post.paperurl }}">Link</a>]
            {% endif %}
            {% if post.paperurl and post.paperurl != "" and post.pdf and post.pdf != "" %}
              |
            {% endif %}
            {% if post.pdf and post.pdf != "" %}
              [<a href="{{ post.pdf }}">PDF</a>]
            {% endif %}
          </span>
        {% endif %}
      </p>
    </article>
  </div>
{% endfor %}

<h2>Patents</h2>
<hr />
{% assign patents = site.publications | where: "pub_group", "patent" | sort: "date" | reverse %}
{% for post in patents %}
  <div class="list__item">
    <article class="archive__item">
      <p style="margin-bottom: 0.8em;">
        <strong>[{{ forloop.index }}] {{ post.title }}</strong><br>
        {{ post.authors }}<br>
        {{ post.venue_text }}<br>
        {% if post.paperurl and post.paperurl != "" or post.pdf and post.pdf != "" %}
          <span>
            {% if post.paperurl and post.paperurl != "" %}
              [<a href="{{ post.paperurl }}">Link</a>]
            {% endif %}
            {% if post.paperurl and post.paperurl != "" and post.pdf and post.pdf != "" %}
              |
            {% endif %}
            {% if post.pdf and post.pdf != "" %}
              [<a href="{{ post.pdf }}">PDF</a>]
            {% endif %}
          </span>
        {% endif %}
      </p>
    </article>
  </div>
{% endfor %}